<footer class="footer">
  
  <div class="grey-more-help">What else can we help you with?</div>
  
  <div class="flex-container">
    <a href="product-registration" class="grey-square">
        <img class="help-image" src="//dojbfbukd6hul.cloudfront.net/web_assets/support/243-tick.png" alt="">
        <div class="help-topic">register your product</div>
        <div class="help-topic-description">For quick and efficient support.</div>
    </a>
  

    <a href="" class="grey-square">
        <img class="help-image" src="//dojbfbukd6hul.cloudfront.net/web_assets/support/092-package.png" alt="">
        <div class="help-topic">order support</div>
        <div class="help-topic-description">Placing an order, your current orders and returns.</div>
    </a>


    <a href="" class="grey-square">
        <img class="help-image" src="//dojbfbukd6hul.cloudfront.net/web_assets/support/tools.png" alt="">
        <div class="help-topic">replacement parts</div>
        <div class="help-topic-description">Find replacement parts for your product.</div>
    </a>

    <a href="" class="grey-square">
        <img class="help-image" src="//dojbfbukd6hul.cloudfront.net/web_assets/support/mirror-warranty-3.png" alt="">
        <div class="help-topic">warranty claims</div>
        <div class="help-topic-description">Make a warranty claim.</div>
    </a>
</div>
  
 <div class="orange-container">
	<div class="copy-container">
		<div class="help-copy">Still need help?</div>
		<a class="button" href="">contact us</a>
	</div>
</div>

  <div class="footer-container">
    <!-- {{#link 'help_center'}}{{help_center.name}}{{/link}} -->
    <div class="sh-footer">

      <div class="ft_shop footer_col f_left">
        <ul>
          <li><strong>support</strong></li>
          <li><a href="https://www2.simplehuman.com/uk/support">product help</a></li>
          <li><a href="https://www2.simplehuman.com/uk/order-information/">order Info</a></li>
          <li><a href="https://www2.simplehuman.com/uk/return-information/">return Info</a></li>
          <li><a href="https://www2.simplehuman.com/uk/customer/account/">my account</a></li>
          <li><a href="https://www2.simplehuman.com/uk/product-registration">register a product</a></li>
          <li><a href="https://www2.simplehuman.com/uk/contact-us/">contact us</a></li>

        </ul>
      </div>

      <div class="ft_help footer_col f_left">
        <ul>
          <li><strong>company</strong></li>
          <li><a href="https://www2.simplehuman.com/uk/about-us/">about us</a></li>
          <li><a href="https://www2.simplehuman.com/uk/warranty/">simple warranty</a></li>
          <li><a href="https://www2.simplehuman.com/uk/whybuy/">why buy from us?</a></li>
          <li><a href="https://www2.simplehuman.com/uk/for-business/">for business</a></li>
        </ul>
      </div>

      <div class="ft_interest footer_col f_left">
        <ul>
          <li><strong>Special Interest</strong></li>
          <li><a href="https://www2.simplehuman.com/uk/media-center/">Media Centre</a></li>
          <li><a href="https://www2.simplehuman.com/uk/contact-us/">Commercial Sales</a></li>
          <li><a href="https://www2.simplehuman.com/uk/contact-us/">International Sales</a></li>
        </ul>
      </div>

      <div class="ft_share footer_col f_left">
        <ul>
          <li><strong>Join simplehuman</strong></li>
          <li><a href="http://www.facebook.com/simplehuman" target="_blank">Facebook</a></li>
          <li><a href="http://twitter.com/#!/simplehuman" target="_blank">Twitter</a></li>
          <li><a href="http://instagram.com/simplehuman" target="_blank">Instagram</a></li>
          <li><a href="http://www.pinterest.com/simplehuman/" target="_blank">Pinterest</a></li>
          <li><a href="https://www.youtube.com/user/simplehuman" target="_blank">YouTube</a></li>
        </ul>
      </div>

      <div class="ft_legal cf">
        <ul class="cf">
          <span class="simplehuman-uk"></span>
          <li><a href="https://www2.simplehuman.com/uk/terms-of-use/">Terms of Use</a></li>
          <li><a href="https://www2.simplehuman.com/uk/privacy-policy/">Privacy Policy</a></li>
          <li><a href="https://www2.simplehuman.com/uk/cookie-info/">Use of Cookies</a></li>                
          <li><a href="https://www2.simplehuman.com/uk/contact-us-form/?feedback">Site Feedback</a></li>
          <li><a href="https://www2.simplehuman.com/uk/company-info/">company info</a></li>               
          <li class="last">©2019 simplehuman - All Rights Reserved</li>
        </ul>
      </div>
      
      <div class="footer-language-selector">
        {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
            <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
              {{name}}
            </a>
            {{/each}}
          </span>
        </div>
        {{/if}}
      </div>

    </div>

  </div>

</footer>
