<section class="section hero">
  <div class="hero-title">welcome to simplehuman <span style="color: #FBAF33">support</span></div>
  <div class="hero-inner">
    {{search submit=false instant=settings.instant_search class='search search-full'}} 
  </div>
</section>

<div class="product-container">

	<a href="" title="" style="color:#444;">
		<figure class="swatch">
			<img src="//dojbfbukd6hul.cloudfront.net/web_assets/support/mirror-support.png" alt="">
			<figcaption class="title">sensor mirrors2</figcaption>
		</figure>
	</a>

	<a href="" title="" style="color:#444;">
		<figure class="swatch">
			<img src="//dojbfbukd6hul.cloudfront.net/web_assets/support/bin-support.png" alt="">
			<figcaption class="title">bins</figcaption>
		</figure>
	</a>

	<a href="" title="" style="color:#444;">
		<figure class="swatch">
			<img src="//dojbfbukd6hul.cloudfront.net/web_assets/support/pump-support.png" alt="">
			<figcaption class="title">soap pumps</figcaption>
		</figure>
	</a>

	<a href="" title="" style="color:#444;">
		<figure class="swatch">
			<img src="//dojbfbukd6hul.cloudfront.net/web_assets/support/kitchen-support.png" alt="">
			<figcaption class="title">kitchen tools</figcaption>
		</figure>
	</a>

	<a href="" title="" style="color:#444;">
		<figure class="swatch">
			<img src="//dojbfbukd6hul.cloudfront.net/web_assets/support/bathroom-support_v2.png" alt="">
			<figcaption class="title">bathroom tools</figcaption>
		</figure>
	</a>

	<a href="" title="" style="color:#444;">
		<figure class="swatch">
			<img src="//dojbfbukd6hul.cloudfront.net/web_assets/support/liner-support.png" alt="">
			<figcaption class="title">liners</figcaption>
		</figure>
	</a>

	<a href="" title="" style="color:#444;">
		<figure class="swatch">
			<img src="//dojbfbukd6hul.cloudfront.net/web_assets/support/soap-support.png" alt="">
			<figcaption class="title">soap</figcaption>
		</figure>
	</a>
  
  <a href="" title="" style="color:#444;">
		<figure class="swatch">
			<img src="//dojbfbukd6hul.cloudfront.net/web_assets/support/soap-support.png" alt="">
			<figcaption class="title">accessories</figcaption>
		</figure>
	</a>

</div>
 

<!-- <div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                  <h4 class="blocks-item-title">
                    {{name}}
                  </h4>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
      <section class="articles">
        <h3>{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}

                  {{#if internal}}
                    <span class="icon-lock" title="{{t 'internal'}}"></span>
                  {{/if}}
                </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>

  {{#if help_center.community_enabled}}
    <section class="section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}

<section class="section activity">
    {{#if settings.show_recent_activity}}
      {{recent_activity}}
    {{/if}}
  </section>
</div> -->